body {color: black;}
a.navbar-item {color: black;}
.button.is-primary {background-color: black; color: white;}
.label {color:black;}
.table thead th {color:black;}
.table tbody td {color:black;}
.table tfoot td {color:black;}
.input:focus {border-color: black; box-shadow: none;}
.navbar-burger span {color: black;}
