body {color: blue;}
a.navbar-item {color: blue;}
.button.is-primary {background-color: blue;}
.label {color:blue;}
.table thead th {color:blue;}
.table tbody td {color:blue;}
.table tfoot td {color:blue;}
.input:focus {border-color: blue; box-shadow: none;}
.navbar-burger span {color: blue;}
