<!DOCTYPE html>

<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="decorator">
<head>
<title th:text="#{changepwd.title}"></title>
</head>
<body>
    <div layout:fragment="content">
        <form name="logoutForm" method="POST" action="/logout" th:action="@{/logout}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
	<div class="center">
		<p th:text="#{changepwd.header}">
		</p>
		<form th:object="${changepwd}" method="POST" autocomplete="off"
			action="changepwd"  th:action="@{/changepwd}"
			id="changepwd-user-form" name="changepwdform"
			class="pure-form pure-form-aligned">
			<fieldset>
                <div class="pure-control-group">
                    <label th:text="#{changepwd.username}"></label>
                    <input th:field="*{userName}" type="text" size="32" maxlength="32" readonly="true" />
                </div>
                <div class="pure-control-group">
                    <label th:text="#{changepwd.currpwd}"></label>
                    <input th:field="*{currentPassword}" type="password" size="32" maxlength="32" />
                </div>
                <div class="pure-control-group">
                    <label th:text="#{changepwd.password}"></label>
                    <input th:field="*{password}" type="password" size="32" maxlength="32" />
                </div>
                <div class="pure-control-group">
                    <label th:text="#{changepwd.repeatedPassword}"></label>
                    <input th:field="*{repeatedPassword}" type="password" size="32" maxlength="32" />
                </div>
                <div class="pure-control-group">
                    <label th:text="#{changepwd.tzone}"></label>
                     <select th:field="*{tzone}">
                        <option th:each="tz:${tzones}" th:value="${tz}" th:text="${tz}">
                        </option>
                    </select>
               </div>
 				<div class="pure-controls">
                                    <p th:if="${#fields.hasAnyErrors()}">
                                       <span class="error" id="errors" th:errors="*{all}"></span>
                                    </p>
 				    <button class="pure-button pure-button-primary button-small" type="submit"
                                            th:text="#{changepwd.button}"></button>
                </div>
			</fieldset>
		</form>
	</div>
	<script type="text/javascript">
	    document.getElementById('currentPassword').focus();
        </script>
</div>
</body>
</html>
