<!DOCTYPE html>

<html data-layout-decorate="~{decorator}">
<head>
<title data-th-text="#{changepwd.title}"></title>
</head>
<body>
    <div data-layout-fragment="content">
        <form name="logoutForm" method="POST" action="/logout" data-th-action="@{/logout}">
        </form>
	<div class="center">
		<p data-th-text="#{changepwd.header}">
		</p>
		<form data-th-object="${changepwd}" method="POST" autocomplete="off"
			action="changepwd"  data-th-action="@{/changepwd}"
			id="changepwd-user-form" name="changepwdform"
			class="pure-form pure-form-aligned">
			<fieldset>
                <div class="pure-control-group">
                    <label data-th-text="#{changepwd.username}"></label>
                    <input data-th-field="*{userName}" type="text" size="32" maxlength="32" readonly="true" />
                </div>
                <div class="pure-control-group">
                    <label data-th-text="#{changepwd.currpwd}"></label>
                    <input data-th-field="*{currentPassword}" type="password" size="32" maxlength="32" />
                </div>
                <div class="pure-control-group">
                    <label data-th-text="#{changepwd.password}"></label>
                    <input data-th-field="*{password}" type="password" size="32" maxlength="32" />
                </div>
                <div class="pure-control-group">
                    <label data-th-text="#{changepwd.repeatedPassword}"></label>
                    <input data-th-field="*{repeatedPassword}" type="password" size="32" maxlength="32" />
                </div>
                <div class="pure-control-group">
                    <label data-th-text="#{changepwd.tzone}"></label>
                     <select data-th-field="*{tzone}">
                        <option data-th-each="tz:${tzones}" data-th-value="${tz}" data-th-text="${tz}">
                        </option>
                    </select>
               </div>
 				<div class="pure-controls">
                                    <p class="error" id="errors">
                                       <span data-th-errors="*{all}"></span>
                                    </p>
 				    <button class="pure-button pure-button-primary button-small" type="submit"
                                            data-th-text="#{changepwd.button}"></button>
                </div>
			</fieldset>
		</form>
	</div>
	<script src="webjars/jquery/jquery.min.js" data-th-src="@{/webjars/jquery/jquery.min.js}"
                type="text/javascript"></script>
	<script src="webjars/jquery-validation/jquery.validate.min.js"
                data-th-src="@{/webjars/jquery-validation/jquery.validate.min.js}"
                type="text/javascript"></script>
	<script type="text/javascript" data-th-inline="javascript">
	    document.getElementById('currentPassword').focus();
    $(document).ready(function()
    {
        $("#changepwd-user-form").validate(
        {
            rules:
            {
                currentPassword:
                {
                    required: true
                },
                password:
                {
                    required: true
                },
                repeatedPassword:
                {
                    equalTo: "#password",
                    required: true
                },
                tzone:
                {
                    required: true
                }
            },
            messages:
            {
                currentPassword:
                {
                    required: [[#{changePwd.currentPassword.size}]] + "<br />"
                },
                password:
                {
                    required: [[#{login.password.size}]] + "<br />"
                },
                repeatedPassword:
                {
                    required: [[#{register.secondPassword.size}]] + "<br />",
                    equalTo: [[#{register.pwd.notmatch}]] + "<br />"
                },
                tzone:
                {
                   required: [[#{register.tzone.size}]] + "<br />"
                }
            },
            invalidHandler: function(event, validator)
            {
                $("#errors").empty();
            },
            submitHandler: function(form)
            {
                form.submit();
            },
            errorLabelContainer: '#errors'
        });
    });
        </script>
</div>
</body>
</html>
