<!DOCTYPE html>
<html>
    <head>
        <title>decorator title</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="images/favicon.ico"
              data-th-href="@{/images/favicon.ico}" type="image/x-icon" />
        <link type="text/css" rel="stylesheet" href="webjars/purecss/build/pure-min.css"
              data-th-href="@{/webjars/purecss/build/pure-min.css}" />
        <link type="text/css" rel="stylesheet" href="webjars/font-awesome/css/font-awesone.min.css"
              data-th-href="@{/webjars/font-awesome/css/font-awesome.min.css}" />
        <link type="text/css" rel="stylesheet" href="css/style.css"
              data-th-href="@{/css/style.css}" />
        <link type="text/css" rel="stylesheet" href="css/style-black.css"
              data-th-href="@{|/css/style-${#themes.code('name')}.css|}" />
    </head>
    <body>
        <div class="center pure-menu pure-menu-horizontal">
        <a href="main" class="pure-menu-heading" data-th-href="@{/main}">
            <span class="bold"> <span data-th-text="#{decorator.header}"></span>
                <i class="fa fa-money fa-lg"></i></span>
        </a>
        <ul  class="pure-menu-list" data-layout-fragment="menu">
                <li class="pure-menu-item"
                    data-th-if="${#authorization.expression('isAuthenticated()')}">
                        <a href="?theme=black" class="pure-menu-link"
                           data-th-text="#{decorator.theme.black}"
                           data-th-if="${#themes.code('name')} == 'blue'"></a>
                        <a href="?theme=blue" class="pure-menu-link"
                           data-th-text="#{decorator.theme.blue}"
                           data-th-if="${#themes.code('name')} == 'black'">
                        </a>
                </li>
                 <li class="pure-menu-item"
                     data-th-if="${#authorization.expression('isAuthenticated()')}">
                     <a href="changepwd" class="pure-menu-link"
                        data-th-href="@{/changepwd}"
                        data-th-text="#{decorator.changepwd}"></a>
                </li>
                <li class="pure-menu-item"
                    data-th-if="${#authorization.expression('isAuthenticated()')}">
                    <a onclick="document.logoutForm.submit()" class="pure-menu-link"
                       data-th-text="#{decorator.logout}">
                    </a>
               </li>
        </ul>
    </div>
        <div data-layout-fragment="content">content</div>
    <div class="center">
        <p data-th-utext="#{decorator.footer}">footer</p>
    </div>
</body>
</html>
