<!DOCTYPE html>
<html data-layout-decorate="~{decorator}">

<head>
    <meta charset="UTF-8" />
    <title data-th-text="#{error.title}">
    </title>
</head>
    <body>
        <span data-layout-fragment="menu"></span>
        <div data-layout-fragment="content">
<div class="center">
    <h1 data-th-text="#{error.header}" ></h1>
    <p data-th-text="#{httpError.text}" ></p>
    <p> <span data-th-text="#{httpError.status}" /> <span data-th-text="${status}"/></p>
<p><span data-th-text="#{httpError.reason}" /> <span data-th-text="${reason}"/></p>
</div>
        </div>
    </body>
</html>
