<!DOCTYPE html>
<html data-layout-decorate="~{decorator}">
<head>
<title data-th-text="#{login.title}">Title</title>
</head>
<body><div data-layout-fragment="content">
	<div class="center">
			<div data-th-text="#{login.header}"></div>
		<form method="POST" autocomplete="off"
			action="login"
                        data-th-action="@{/login}"
			name="loginform" id="login-user-form"
			class="pure-form pure-form-aligned">
			<fieldset>
			    <div class="pure-control-group">
				    <Label data-th-text="#{login.username}"></Label>
				    <input id="username" name="username" type="text" size="32" maxlength="32" />
				</div>
				<div class="pure-control-group">
				    <Label data-th-text="#{login.password}"></Label>
				    <input id="password" name="password" type="password" size="32" maxlength="32" />
				</div>
				<div class="pure-controls">
                                    <p class="error" id="errors">
                                       <span data-th-text="#{login.combo.bad}"
                                             data-th-if="${param.error != null}">
                                       </span>
                                    </p>
				    <button class="pure-button pure-button-primary button-small" type="submit"
                                            data-th-text="#{login.button}"></button>
                                    <p><span data-th-text="#{login.register}"></span>
					<br /><a href="register" class="pure-button button-small"
                                                 data-th-href="@{/register}"
                                                 data-th-text="#{login.reglink}"></a></p>
				</div>
			</fieldset>
               </form>

	</div>
	<script src="webjars/jquery/dist/jquery.min.js" data-th-src="@{/webjars/jquery/dist/jquery.min.js}"
                type="text/javascript"></script>
	<script src="webjars/jquery-validation/dist/jquery.validate.min.js"
                data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}"
                type="text/javascript"></script>
	<script type="text/javascript" data-th-inline="javascript">

    $(document).ready(function()
    {
        document.getElementById('username').focus();
        $("#login-user-form").validate(
        {
            onfocusout: function(element)
            {
                this.element(element);
            },
    
            rules:
            {
                username:
                {
                    required: true
                },
                password:
                {
                    required: true
                }
            },
            messages:
            {
                username:
                {
                    required: [[#{login.user.size}]] + "<br />"
                },
                password:
                {
                    required: [[#{login.password.size}]] + "<br />"
                }
            },
            invalidHandler: function(event, validator)
            {
                $("#errors").empty();
            },
            submitHandler: function(form)
            {
                form.submit();
            },
            errorLabelContainer: '#errors'
        });
    });
 	</script>
    </div>
</body>
</html>