<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="decorator">
<head>
<meta charset="UTF-8" />
<title th:text="#{login.title}">Title</title>
</head>
<body><div layout:fragment="content">
	<div class="center">
			<div th:text="#{login.header}"></div>
		<form method="POST" autocomplete="off"
			action="login"
                        th:href="@{/login}"
			name="loginform" id="login-user-form"
			cssClass="pure-form pure-form-aligned">
			<fieldset>
			    <div class="pure-control-group">
				    <Label th:text="#{login.username}"></Label>
				    <input id="username" name="username" type="text" size="32" maxlength="32" />
				</div>
				<div class="pure-control-group">
				    <Label th:text="#{login.password}"></Label>
				    <input id="password" name="password" type="password" size="32" maxlength="32" />
				</div>
				<div class="pure-controls">
                                    <p><span class="error"
                                             th:text="#{login.combo.bad}"
                                             th:if="${param.error != null}">
                                     </span></p>
				    <button class="pure-button pure-button-primary button-small" type="submit"
                                            th:text="#{login.button}"></button>
                                    <p><span th:text="#{login.register}"></span>
					<br /><a href="register" class="pure-button button-small"
                                                 th:href="@{/register}"
                                                 th:text="#{login.reglink}"></a></p>
				</div>
			</fieldset>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>

	</div>
	<script type="text/javascript">
	    document.getElementById('username').focus();
	</script>
    </div>
</body>
</html>