<!DOCTYPE html>

<html data-layout-decorate="~{decorator}">
<head>
<title data-th-text="#{register.title}">Title</title>
</head>
<body>
    <div data-layout-fragment="content">
	<div class="center">
		<p data-th-text="#{register.header}">
		</p>
		<form data-th-object="${register}" method="POST" autocomplete="off"
			action="register"
			id="register-user-form" name="registerform"
                        data-th-action="@{/register}"
			class="pure-form pure-form-aligned">
			<fieldset>
			    <div class="pure-control-group">
				    <label data-th-text="#{register.username}"></label>
				    <input data-th-field="*{userName}" type="text" size="32" maxlength="32" />
				</div>
                <div class="pure-control-group">
                    <label data-th-text="#{register.password}"></label>
                    <input data-th-field="*{password}" type="password" size="32" maxlength="32" />
                </div>
                <div class="pure-control-group">
                    <label data-th-text="#{register.repeatedPassword}"></label>
                    <input data-th-field="*{repeatedPassword}" type="password" size="32" maxlength="32" />
                </div>
                 <div class="pure-control-group">
                    <label data-th-text="#{register.tzone}"></label>
                    <select data-th-field="*{tzone}">
                        <option data-th-each="tz:${tzones}" data-th-value="${tz}"
                                data-th-text="${tz}">Option</option>
                    </select>
                </div>
				<div class="pure-controls">
                                    <p class="error" id="errors">
                                            <span data-th-errors="*{all}"></span></p>
 				    <button class="pure-button pure-button-primary button-small" type="submit"
                                            data-th-text="#{register.button}">
			            </button>
                </div>
			</fieldset>
		</form>
	</div>

	<script src="webjars/jquery/dist/jquery.min.js" data-th-src="@{/webjars/jquery/dist/jquery.min.js}"></script>
	<script src="webjars/jquery-validation/dist/jquery.validate.min.js"
                data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}"></script>
	<script data-th-inline="javascript">

    $(document).ready(function()
    {
     	$('#userName').focus();
        $("#register-user-form").validate(
        {
            onfocusout: function(element)
            {
                this.element(element);
            },

            rules:
            {
                userName:
                {
                    required: true
                },
                currentPassword:
                {
                    required: true
                },
                password:
                {
                    required: true
                },
                repeatedPassword:
                {
                    required: true,
                    equalTo: "#password"
                },
                tzone:
                {
                    required: true
                }
            },
            messages:
            {
                userName:
                {
                    required: [[#{register.userName.required}]] + "<br />"

                },
                currentPassword:
                {
                    required: [[#{changePwd.currentPassword.size}]] + "<br />"
                },
                password:
                {
                    required: [[#{login.password.size}]] + "<br />"
                },
                repeatedPassword:
                {
                    required: [[#{register.secondPassword.size}]] + "<br />",
                    equalTo: [[#{register.pwd.notmatch}]] + "<br />"
                },
                tzone:
                {
                    required: [[#{register.tzone.size}]] + "<br />"
                }
            },
            invalidHandler: function(event, validator)
            {
                $("#errors").empty();
            },
            submitHandler: function(form)
            {
                form.submit();
            },
            errorLabelContainer: '#errors'
        });
    });
        </script>
    </div>
</body>
</html>
